* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}

header h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header p {
  font-size: 0.875rem;
  color: #8e8e8e;
  max-width: 350px;
}
.game-status {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  min-height: 60px;
  border-radius: 4px;
  color: #f9f4da;
  margin-block: 30px;
}

.game-status.won {
  background-color: #10a958;
}

.game-status.lost {
  background-color: #ba2a2a;
}

.game-status.farewell {
  background-color: #7a5ea7;
  border: 1px dashed #323232;
}

.farewell-message {
  font-style: italic;
  font-weight: 400;
}

.game-status h2 {
  font-size: 1.25rem;
  margin: 5px;
}

.game-status p {
  margin: 5px;
}

.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
  margin-bottom: 36px;
}

.chip {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

span.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

.word span {
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #f9f4da;
}

.missed-letter {
  color: #ec5d49;
}

.keyboard {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 36px;
}

.keyboard button {
  height: 35px;
  width: 35px;
  font-weight: bold;
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  cursor: pointer;
}

button.correct {
  background-color: #10a958;
}

button.wrong {
  background-color: #ec5d49;
}

.keyboard button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.new-game {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
